<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings>

    <pluginGroups>
{% if maven_settings.maven_plugin_groups is defined %}
{% for plugin_group in maven_settings.maven_plugin_groups %}
        <pluginGroup>{{plugin_group.pluginGroup}}</pluginGroup>
{% endfor %}
{% endif %}
    </pluginGroups>

</settings>
