<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings>

    <pluginGroups>
{% if maven_settings.maven_plugin_groups is defined %}
{% for plugin_group in maven_settings.maven_plugin_groups %}
        <pluginGroup>{{plugin_group.pluginGroup}}</pluginGroup>
{% endfor %}
{% endif %}
    </pluginGroups>

    <mirrors>
{% if maven_settings.maven_mirrors is defined %}
{% for mirror in maven_settings.maven_mirrors %}
        <mirror>
{% if mirror.id is defined %}
            <id>{{ mirror.id }}</id>
{% endif %}
{% if mirror.mirrorOf is defined %}
            <mirrorOf>{{ mirror.mirrorOf }}</mirrorOf>
{% endif %}
{% if mirror.url is defined %}
            <url>{{ mirror.url }}</url>
{% endif %}
        </mirror>
{% endfor %}
{% endif %}
    </mirrors>

    <servers>
{% if maven_settings.maven_servers is defined %}
{% for item in maven_settings.maven_servers %}
        <server>
            <id>{{ item.id }}</id>
{% if item.username is defined %}
            <username>{{ item.username }}</username>
{% endif %}
{% if item.password is defined %}
            <password>{{ item.password }}</password>
{% endif %}
        </server>
{% endfor %}
{% endif %}
    </servers>

    <profiles>
{% if maven_settings.maven_profiles is defined %}
{% for item in maven_settings.maven_profiles %}
        <profile>
            <id>{{ item.id }}</id>
{% if item.profile_properties is defined %}
            <properties>
{% for prop in item.profile_properties %}
{% if prop.propertyKey is defined and prop.propertyValue is defined %}
                <{{ prop.propertyKey }}>{{ prop.propertyValue }}</{{ prop.propertyKey }}>
{% endif %}
{% endfor %}
            </properties>
{% endif %}
            <repositories>
{% if item.repositories is defined %}
{% for repo in item.repositories %}
                <repository>
                    <id>{{ repo.id }}</id>
{% if repo.url is defined %}
                    <url>{{ repo.url }}</url>
{% endif %}
                    <releases>
{% if repo.enableReleases is defined %}
                        <enabled>{{ repo.enableReleases }}</enabled>
{% else %}
                        <enabled>false</enabled>
{% endif %}
{% if repo.updatePolicyReleases is defined %}
                        <updatePolicy>{{ repo.updatePolicyReleases }}</updatePolicy>
{% endif %}
{% if repo.checksumPolicyReleases is defined %}
                        <checksumPolicy>{{ repo.checksumPolicyReleases }}</checksumPolicy>
{% endif %}
                    </releases>
                    <snapshots>
{% if repo.enableSnapshots is defined %}
                        <enabled>{{ repo.enableSnapshots }}</enabled>
{% else %}
                        <enabled>false</enabled>
{% endif %}
{% if repo.updatePolicySnapshots is defined %}
                        <updatePolicy>{{ repo.updatePolicySnapshots }}</updatePolicy>
{% endif %}
{% if repo.checksumPolicySnapshots is defined %}
                        <checksumPolicy>{{ repo.checksumPolicySnapshots }}</checksumPolicy>
{% endif %}
                    </snapshots>
                </repository>
{% endfor %}
{% endif %}
            </repositories>
            <pluginRepositories>
{% if item.pluginRepositories is defined %}
{% for repo in item.pluginRepositories %}
                <pluginRepository>
                    <id>{{ repo.id }}</id>
{% if repo.url is defined %}
                    <url>{{ repo.url }}</url>
{% endif %}
                    <releases>
{% if repo.enableReleases is defined %}
                        <enabled>{{ repo.enableReleases }}</enabled>
{% else %}
                        <enabled>false</enabled>
{% endif %}
{% if repo.updatePolicyReleases is defined %}
                        <updatePolicy>{{ repo.updatePolicyReleases }}</updatePolicy>
{% endif %}
{% if repo.checksumPolicyReleases is defined %}
                        <checksumPolicy>{{ repo.checksumPolicyReleases }}</checksumPolicy>
{% endif %}
                    </releases>
                    <snapshots>
{% if repo.enableSnapshots is defined %}
                        <enabled>{{ repo.enableSnapshots }}</enabled>
{% else %}
                        <enabled>false</enabled>
{% endif %}
{% if repo.updatePolicySnapshots is defined %}
                        <updatePolicy>{{ repo.updatePolicySnapshots }}</updatePolicy>
{% endif %}
{% if repo.checksumPolicySnapshots is defined %}
                        <checksumPolicy>{{ repo.checksumPolicySnapshots }}</checksumPolicy>
{% endif %}
                    </snapshots>
                </pluginRepository>
{% endfor %}
{% endif %}
            </pluginRepositories>
        </profile>
{% endfor %}
{% endif %}
    </profiles>

    <proxies>
{% if maven_settings.maven_proxies is defined %}
{% for proxy in maven_settings.maven_proxies %}
        <proxy>
{% if proxy.id is defined %}
            <id>{{ proxy.id }}</id>
{% endif %}
{% if proxy.active is defined %}
            <active>{{ proxy.active }}</active>
{% endif %}
{% if proxy.protocol is defined %}
            <protocol>{{ proxy.protocol }}</protocol>
{% endif %}
{% if proxy.host is defined %}
            <host>{{ proxy.host }}</host>
{% endif %}
{% if proxy.port is defined %}
            <port>{{ proxy.port }}</port>
{% endif %}
{% if proxy.username is defined %}
            <username>{{ proxy.username }}</username>
{% endif %}
{% if proxy.password is defined %}
            <password>{{ proxy.password }}</password>
{% endif %}
{% if proxy.nonProxyHosts is defined %}
            <nonProxyHosts>{{ proxy.nonProxyHosts }}</nonProxyHosts>
{% endif %}
        </proxy>
{% endfor %}
{% endif %}
    </proxies>

</settings>
